apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: cicd-java-maven
  name: demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cicd-java-maven
  template:
    metadata:
      labels:
        app: cicd-java-maven
    spec:
      containers:
        - image: nginx:latest
          name: demo
          ports:
            - containerPort: 8080
              name: cicd-java-maven
              protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    name: cicd-java-maven
  name: cicd-java-maven
spec:
  ports:
    - name: cicd-java-maven
      port: 80
      protocol: TCP
      targetPort: 8080
  selector:
    app: cicd-java-maven
  type: LoadBalancer
